<a href="https://colab.research.google.com/github/himanshu2285/ML-practices/blob/main/pandasPractices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas

In [4]:
import pandas as pd
import numpy as np

Series

In [ ]:
ser = pd.Series()
ser

Series([], dtype: object)

In [37]:
data = np.array([[[1,2,3],[4,5,6],[7,8,9]],[[9,8,7],[6,5,5],[4,3,2]]])
data

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[9, 8, 7],
        [6, 5, 5],
        [4, 3, 2]]])

In [ ]:
ser = pd.Series(data)
ser

0    a
1    b
2    d
3    s
dtype: object

DataFrame

In [38]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
df = pd.DataFrame(data)
df

   0
0  a
1  b
2  d
3  s

In [ ]:
ser = pd.Series(list("Learning DSA in UDIT"))
ser

0     L
1     e
2     a
3     r
4     n
5     i
6     n
7     g
8
9     D
10    S
11    A
12
13    i
14    n
15
16    U
17    D
18    I
19    T
dtype: object

Inserting Car Datasets

In [5]:
data = pd.read_csv("./car_data.csv")
data

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,...,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity,Mileage In mpl
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,...,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0,23400
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,...,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0,21140
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,...,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0,17700
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,...,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0,23000
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,...,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0,16100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,Mahindra,XUV500 W8 [2015-2017],850000,2016,90300,Diesel,Manual,Surat,White,First,...,2179 cc,138 bhp @ 3750 rpm,330 Nm @ 1600 rpm,FWD,4585.0,1890.0,1785.0,7.0,70.0,22320
2055,Hyundai,Eon D-Lite +,275000,2014,83000,Petrol,Manual,Ahmedabad,White,Second,...,814 cc,55 bhp @ 5500 rpm,75 Nm @ 4000 rpm,FWD,3495.0,1550.0,1500.0,5.0,32.0,18900
2056,Ford,Figo Duratec Petrol ZXI 1.2,240000,2013,73000,Petrol,Manual,Thane,Silver,First,...,1196 cc,70 bhp @ 6250 rpm,102 Nm @ 4000 rpm,FWD,3795.0,1680.0,1427.0,5.0,45.0,18490
2057,BMW,5-Series 520d Luxury Line [2017-2019],4290000,2018,60474,Diesel,Automatic,Coimbatore,White,First,...,1995 cc,188 bhp @ 4000 rpm,400 Nm @ 1750 rpm,RWD,4936.0,1868.0,1479.0,5.0,65.0,18000
2058,Mahindra,Bolero Power Plus ZLX [2016-2019],670000,2017,72000,Diesel,Manual,Guwahati,White,First,...,1493 cc,70 bhp @ 3600 rpm,195 Nm @ 1400 rpm,RWD,3995.0,1745.0,1880.0,7.0,NaN,22740

In [ ]:
data.head(7)

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,...,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity,Mileage In mpl
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,...,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0,23400
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,...,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0,21140
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,...,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0,17700
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,...,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0,23000
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,...,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0,16100
5,Maruti Suzuki,Ciaz ZXi,675000,2017,73315,Petrol,Manual,Pune,Grey,First,...,1373 cc,91 bhp @ 6000 rpm,130 Nm @ 4000 rpm,FWD,4490.0,1730.0,1485.0,5.0,43.0,20140
6,Mercedes-Benz,CLA 200 Petrol Sport,1898999,2015,47000,Petrol,Automatic,Mumbai,White,Second,...,1991 cc,181 bhp @ 5500 rpm,300 Nm @ 1200 rpm,FWD,4630.0,1777.0,1432.0,5.0,NaN,17300

In [ ]:
data.tail(15)

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,...,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity,Mileage In mpl
2044,Mahindra,XUV700 AX 7 Petrol AT Luxury Pack 7 STR,2765000,2022,75,Petrol,Automatic,Delhi,Blue,First,...,1997 cc,197 bhp @ 5000 rpm,380 Nm @ 1750 rpm,FWD,4695.0,1890.0,1755.0,7.0,60.0,23400
2045,Maruti Suzuki,Wagon R LXI CNG (O),365000,2014,75693,CNG,Manual,Pune,Grey,Second,...,998 cc,58 bhp @ 6200 rpm,77 Nm @ 3500 rpm,FWD,3599.0,1495.0,1700.0,5.0,35.0,14000
2046,Maruti Suzuki,Vitara Brezza ZDi,850000,2018,85000,Diesel,Manual,Hyderabad,Maroon,First,...,1248 cc,89 bhp @ 4000 rpm,200 Nm @ 1750 rpm,FWD,3995.0,1790.0,1640.0,5.0,48.0,15100
2047,Honda,City V,480000,2015,49000,Petrol,Manual,Kolkata,Grey,First,...,1497 cc,117 bhp @ 6600 rpm,145 Nm @ 4600 rpm,FWD,4440.0,1695.0,1495.0,5.0,40.0,0
2048,Hyundai,Grand i10 Asta 1.1 CRDi [2013-2016],345000,2016,71000,Diesel,Manual,Kanpur,White,Second,...,1120 cc,70 bhp @ 4000 rpm,160 Nm @ 1500 rpm,FWD,3765.0,1660.0,1520.0,5.0,43.0,13580
2049,Mercedes-Benz,GLS 400 4MATIC,5950000,2017,80000,Petrol,Automatic,Delhi,Black,First,...,2996 cc,329 bhp @ 5250 rpm,480 Nm @ 1600 rpm,AWD,5130.0,1934.0,1850.0,5.0,100.0,17300
2050,Hyundai,Creta SX Plus 1.6 Petrol,891000,2016,47000,Petrol,Manual,Delhi,White,First,...,1591 cc,122 bhp @ 6400 rpm,154 Nm @ 4850 rpm,FWD,4270.0,1780.0,1630.0,5.0,60.0,23400
2051,Maruti Suzuki,Vitara Brezza VXi,925000,2021,48000,Petrol,Manual,Bangalore,White,First,...,1462 cc,103 bhp @ 6000 rpm,138 Nm @ 4400 rpm,FWD,3995.0,1790.0,1640.0,5.0,48.0,15960
2052,Hyundai,i20 Sportz 1.4 CRDI,409999,2014,68000,Diesel,Manual,Agra,Silver,First,...,1396 cc,90@4000,220@1750,NaN,3940.0,1710.0,1505.0,5.0,45.0,28400
2053,Maruti Suzuki,Ritz Vxi (ABS) BS-IV,245000,2014,79000,Petrol,Manual,Faridabad,White,Second,...,1197 cc,85 bhp @ 6000 rpm,113 Nm @ 4500 rpm,FWD,3775.0,1680.0,1620.0,5.0,43.0,25320
2054,Mahindra,XUV500 W8 [2015-2017],850000,2016,90300,Diesel,Manual,Surat,White,First,...,2179 cc,138 bhp @ 3750 rpm,330 Nm @ 1600 rpm,FWD,4585.0,1890.0,1785.0,7.0,70.0,22320
2055,Hyundai,Eon D-Lite +,275000,2014,83000,Petrol,Manual,Ahmedabad,White,Second,...,814 cc,55 bhp @ 5500 rpm,75 Nm @ 4000 rpm,FWD,3495.0,1550.0,1500.0,5.0,32.0,18900
2056,Ford,Figo Duratec Petrol ZXI 1.2,240000,2013,73000,Petrol,Manual,Thane,Silver,First,...,1196 cc,70 bhp @ 6250 rpm,102 Nm @ 4000 rpm,FWD,3795.0,1680.0,1427.0,5.0,45.0,18490
2057,BMW,5-Series 520d Luxury Line [2017-2019],4290000,2018,60474,Diesel,Automatic,Coimbatore,White,First,...,1995 cc,188 bhp @ 4000 rpm,400 Nm @ 1750 rpm,RWD,4936.0,1868.0,1479.0,5.0,65.0,18000
2058,Mahindra,Bolero Power Plus ZLX [2016-2019],670000,2017,72000,Diesel,Manual,Guwahati,White,First,...,1493 cc,70 bhp @ 3600 rpm,195 Nm @ 1400 rpm,RWD,3995.0,1745.0,1880.0,7.0,NaN,22740

In [ ]:
data.shape

(2059, 21)

In [ ]:
data.ndim

2

In [ ]:
data.dtypes

Make                   object
Model                  object
Price                   int64
Year                    int64
Kilometer               int64
Fuel Type              object
Transmission           object
Location               object
Color                  object
Owner                  object
Seller Type            object
Engine                 object
Max Power              object
Max Torque             object
Drivetrain             object
Length                float64
Width                 float64
Height                float64
Seating Capacity      float64
Fuel Tank Capacity    float64
Mileage In mpl          int64
dtype: object

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                2059 non-null   object
 1   Model               2059 non-null   object
 2   Price               2059 non-null   int64
 3   Year                2059 non-null   int64
 4   Kilometer           2059 non-null   int64
 5   Fuel Type           2059 non-null   object
 6   Transmission        2059 non-null   object
 7   Location            2059 non-null   object
 8   Color               2059 non-null   object
 9   Owner               2059 non-null   object
 10  Seller Type         2059 non-null   object
 11  Engine              1979 non-null   object
 12  Max Power           1979 non-null   object
 13  Max Torque          1979 non-null   object
 14  Drivetrain          1923 non-null   object
 15  Length              1995 non-null   float64
 16  Width               1995 non-null   float64
 17  Height              1995 non-null   float64
 18  Seating Capacity    1995 non-null   float64
 19  Fuel Tank Capacity  1946 non-null   float64
 20  Mileage In mpl      2059 non-null   int64
dtypes: float64(5), int64(4), object(12)
memory usage: 337.9+ KB

Creating Dictionry

In [ ]:
dict1 = {"name":"Himanshu","Age":20,"City":"mumbai","marks":[77,88,99]}
dict1

{'name': 'Himanshu', 'Age': 20, 'City': 'mumbai', 'marks': [77, 88, 99]}

In [ ]:
dict1.keys()

dict_keys(['name', 'Age', 'City', 'marks'])

In [ ]:
dict1.values()

dict_values(['Himanshu', 20, 'mumbai', [77, 88, 99]])

In [ ]:
dic2 = dict1.copy()
dic2

{'name': 'Himanshu', 'Age': 20, 'City': 'mumbai', 'marks': [77, 88, 99]}

Converting JSON data into Tabular Form

In [46]:
olympic_list = {"countries":['London','Beijing','Sydney','Athens','India'],
                'year':[2000,2001,2002,2003,np.nan],
                'TotalCountry':[205,204,201,200,np.nan]}
olympic_list

{'countries': ['London', 'Beijing', 'Sydney', 'Athens', 'India'],
 'year': [2000, 2001, 2002, 2003, nan],
 'TotalCountry': [205, 204, 201, 200, nan]}

np.nan is for missing data, i.e. nan(not a number)

In [47]:
olympic_list_df = pd.DataFrame(olympic_list)
olympic_list_df

  countries    year  TotalCountry
0    London  2000.0         205.0
1   Beijing  2001.0         204.0
2    Sydney  2002.0         201.0
3    Athens  2003.0         200.0
4     India     NaN           NaN

### Handling Missing Values

DataFrame.dropna() is used to drop entire row that have missing numbers

In [49]:
olympic_list_df.dropna(how="any")

  countries    year  TotalCountry
0    London  2000.0         205.0
1   Beijing  2001.0         204.0
2    Sydney  2002.0         201.0
3    Athens  2003.0         200.0

In [45]:
olympic_list_df[olympic_list_df['year']>2000]

  countries  year  TotalCountry
1   Beijing  2001           204
2    Sydney  2002           201
3    Athens  2003           200

In [32]:
olympic_list_df.columns

Index(['countries', 'year', 'TotalCountry'], dtype='object')

**Transpose function converts Rows into columns and vice-versa**

In [ ]:
olympic_list_df.transpose()

                   0        1       2       3
countries     London  Beijing  Sydney  Athens
year            2000     2001    2002    2003
TotalCountry     205      204     201     200

Checking datatypes

In [ ]:
olympic_list_df.shape

(4, 3)

In [ ]:
olympic_list_df['countries']

0     London
1    Beijing
2     Sydney
3     Athens
Name: countries, dtype: object

In [7]:
donot_dataset = {
		"id": "0001",
		"type": "donut",
		"name": "Cake",
		"ppu": 0.55,
		"batters":
			{
				"batter":
					[
						{ "id": "1001", "type": "Regular" },
						{ "id": "1002", "type": "Chocolate" },
						{ "id": "1003", "type": "Blueberry" },
						{ "id": "1004", "type": "Devil's Food" }
					]
			},
		"topping":
			[
				{ "id": "5001", "type": "None" },
				{ "id": "5002", "type": "Glazed" },
				{ "id": "5005", "type": "Sugar" },
				{ "id": "5007", "type": "Powdered Sugar" },
				{ "id": "5006", "type": "Chocolate with Sprinkles" },
				{ "id": "5003", "type": "Chocolate" },
				{ "id": "5004", "type": "Maple" }
			]
	}

In [8]:
donot_dataset

{'id': '0001',
 'type': 'donut',
 'name': 'Cake',
 'ppu': 0.55,
 'batters': {'batter': [{'id': '1001', 'type': 'Regular'},
   {'id': '1002', 'type': 'Chocolate'},
   {'id': '1003', 'type': 'Blueberry'},
   {'id': '1004', 'type': "Devil's Food"}]},
 'topping': [{'id': '5001', 'type': 'None'},
  {'id': '5002', 'type': 'Glazed'},
  {'id': '5005', 'type': 'Sugar'},
  {'id': '5007', 'type': 'Powdered Sugar'},
  {'id': '5006', 'type': 'Chocolate with Sprinkles'},
  {'id': '5003', 'type': 'Chocolate'},
  {'id': '5004', 'type': 'Maple'}]}

In [12]:
donot_dataset_df = pd.DataFrame(donot_dataset['topping'])
donot_dataset_df

     id                      type
0  5001                      None
1  5002                    Glazed
2  5005                     Sugar
3  5007            Powdered Sugar
4  5006  Chocolate with Sprinkles
5  5003                 Chocolate
6  5004                     Maple

In [16]:
s = pd.Series([1,2,3,4,5,7])
s

0    1
1    2
2    3
3    4
4    5
5    7
dtype: int64

In [17]:
s.ndim

1

date_range() function

In [44]:
dates = pd.date_range("20250101",periods=40)
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
               '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
               '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
               '2025-01-29', '2025-01-30', '2025-01-31', '2025-02-01',
               '2025-02-02', '2025-02-03', '2025-02-04', '2025-02-05',
               '2025-02-06', '2025-02-07', '2025-02-08', '2025-02-09'],
              dtype='datetime64[ns]', freq='D')

In [30]:
dates.dtype

dtype('<M8[ns]')

to_numpy() function is used to show the numpy representation of DataFrame

In [34]:
dates.to_numpy()

array(['2025-01-01T00:00:00.000000000', '2025-01-02T00:00:00.000000000',
       '2025-01-03T00:00:00.000000000', '2025-01-04T00:00:00.000000000',
       '2025-01-05T00:00:00.000000000', '2025-01-06T00:00:00.000000000',
       '2025-01-07T00:00:00.000000000', '2025-01-08T00:00:00.000000000',
       '2025-01-09T00:00:00.000000000', '2025-01-10T00:00:00.000000000',
       '2025-01-11T00:00:00.000000000', '2025-01-12T00:00:00.000000000',
       '2025-01-13T00:00:00.000000000', '2025-01-14T00:00:00.000000000',
       '2025-01-15T00:00:00.000000000', '2025-01-16T00:00:00.000000000',
       '2025-01-17T00:00:00.000000000', '2025-01-18T00:00:00.000000000',
       '2025-01-19T00:00:00.000000000', '2025-01-20T00:00:00.000000000',
       '2025-01-21T00:00:00.000000000', '2025-01-22T00:00:00.000000000',
       '2025-01-23T00:00:00.000000000', '2025-01-24T00:00:00.000000000',
       '2025-01-25T00:00:00.000000000', '2025-01-26T00:00:00.000000000',
       '2025-01-27T00:00:00.000000000', '2025-01-28T00:00:00.000000000',
       '2025-01-29T00:00:00.000000000', '2025-01-30T00:00:00.000000000',
       '2025-01-31T00:00:00.000000000', '2025-02-01T00:00:00.000000000',
       '2025-02-02T00:00:00.000000000', '2025-02-03T00:00:00.000000000',
       '2025-02-04T00:00:00.000000000', '2025-02-05T00:00:00.000000000',
       '2025-02-06T00:00:00.000000000', '2025-02-07T00:00:00.000000000',
       '2025-02-08T00:00:00.000000000', '2025-02-09T00:00:00.000000000'],
      dtype='datetime64[ns]')

### Random numbers

In [63]:
data1 = np.random.randint(5,40,size=11)
data1

array([23, 34, 13, 33, 29, 16, 27, 26, 29, 37, 36])

## Operations
###Stats

In [54]:
dict1 = {
    "name":["Abhishek","Raj","Nitin","Komal"],
    "age":[21,22,19,18],
    "marks":[88,77,66,55]
}
df = pd.DataFrame(dict1)
df

       name  age  marks
0  Abhishek   21     88
1       Raj   22     77
2     Nitin   19     66
3     Komal   18     55

Mean Values

In [57]:
df['marks'].mean()

np.float64(71.5)